/* LISTES */

.list-view,
.list-view .cell {
    -fx-background-color: #3498db; /* Bleu clair */
    -fx-text-fill: white;
    -fx-border-radius: 7px; /* Arrondi les coins des éléments de la liste */
    -fx-background-radius: 7px; /* Arrondi les coins du fond des éléments de la liste */
    -fx-padding: 5px; /* Espace intérieur des éléments de la liste */
}

.list-view .cell:hover {
    -fx-background-color: #85c1e9; /* Bleu plus clair au survol */
}

.list-view .cell:odd {
    -fx-background-color: #85c1e9; /* Bleu plus clair */
}

.list-view .cell:even {
    -fx-background-color: #3498db; /* Bleu clair */
}

.list-view .scroll-bar:vertical,
.list-view .scroll-bar:vertical .track,
.list-view .scroll-bar:vertical .track-background,
.list-view .scroll-bar:horizontal,
.list-view .scroll-bar:horizontal .track,
.list-view .scroll-bar:horizontal .track-background {
    -fx-background-color: #3498db; /* Bleu clair */
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(to bottom, #3498db, #85c1e9); /* Dégradé de bleu */
}

.list-view .scroll-bar:horizontal .thumb {
    -fx-background-color: linear-gradient(to right, #3498db, #85c1e9); /* Dégradé de bleu */
}

.list-view .scroll-bar .increment-button,
.list-view .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

/* Style pour les boutons */
.button {
    -fx-background-color: #3498db; /* Bleu clair */
    -fx-text-fill: white;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px; /* Arrondi les coins du fond du bouton */
}

/* Effet au survol des boutons */
.button:hover {
    -fx-background-color: #85c1e9; /* Bleu plus clair au survol */
}
