.button
{
-fx-background-color : #05071F;
-fx-text-fill : #e7e5e5;
}
.button:hover{
-fx-background-color : #10165F;
}
.button:pressed
{
-fx-background-color : #1620A1;
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}
/* style.css */

.list-cell {
    -fx-background-color: #f0f0f0; /* Couleur de fond des cellules */
    -fx-padding: 10px; /* Espacement interne des cellules */
    -fx-border-color: #cccccc; /* Couleur de la bordure des cellules */
    -fx-border-width: 0 0 1px 0; /* Largeur de la bordure (bas uniquement) */
}

.list-cell:hover {
    -fx-background-color: #e0e0e0; /* Couleur de fond des cellules au survol */
}

.list-view {
    -fx-background-color: #ffffff; /* Couleur de fond de la ListView */
}

.list-view:focused {
    -fx-background-color: transparent; /* Supprimez la couleur de fond lorsqu'elle est sélectionnée */
}

.list-view:focused .list-cell {
    -fx-background-color: transparent; /* Supprimez la couleur de fond des cellules lorsqu'elles sont sélectionnées */
}
/* Styles globaux */
.root {
    -fx-background-color: #f0f0f0; /* Couleur de fond */
}

/* Styles spécifiques aux éléments */
#nomLabel, #descriptionLabel {
    -fx-font-size: 16px; /* Taille de la police */
    -fx-text-fill: #333; /* Couleur du texte */
}
/* Titres en gras */
.event-title {
    -fx-font-weight: bold;
}







/* Arrière-plan et bordure de la carte WebView */
#mapWebView {
    -fx-background-color: #fff; /* Couleur de fond */
    -fx-border-color: #ddd; /* Couleur de la bordure */
    -fx-border-width: 2px; /* Largeur de la bordure */
    -fx-border-radius: 5px; /* Bord arrondi */
    -fx-pref-height: 300px; /* Hauteur préférée */
    -fx-pref-width: 300px; /* Largeur préférée */
}
.card {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #CCCCCC;
    -fx-border-radius: 5;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.card-details {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.card-details > .bold-text {
    -fx-font-weight: bold;
}

.card-button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
}


.value-label {
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
}

.vbox {
    -fx-background-color: #f0f0f0;
    -fx-padding: 20px;
    -fx-spacing: 15px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.anchor-pane {
    -fx-background-color: #ffffff;
}

